body {
  font-family: sans-serif;
}
.history {
  font-size: x-large;
  font-weight: bold;
}
.letter {
  width: 30px;
  height: 30px;
  display: inline-block;
  margin: 5px;
  text-align: center;
  user-select: none;
}
.right {
  background: lawngreen;
}
.wrong {
  background: lightcoral;
}
.score {
  margin-left: 20px;
}
