<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Wörter raten</title>
  <link type="text/css" href="app.css" rel="stylesheet" />
  <script src="wordList.js"></script>
  <script src="../lib/vue.min.js"></script>
</head>
<body>
  <div id="app">
    <h1>Wörter raten</h1>

    <div>
      <ul>
        <li>Gesucht ist ein Wort mit 5 Buchstaben.</li>
        <li>Für jeden Tipp erfährst du die Anzahl der richtigen Buchstaben.</li>
        <li>Jeder Tipp muss ein valides Wort sein.</li>
        <li>Wörter mit doppelten Buchstaben sind ausgeschlossen.</li>
        <li>Hinweis: die Liste valider Wörter ist noch unvollständig und enthält nur Wörter von A-F,Q-Z.</li>
      </ul>
    </div>

    Merkliste
    <div v-if="markers" class="alphabet">
      <div v-for="c in Object.keys( markers )"
        v-bind:class="{ letter: true, wrong: markers[ c ] === 1, right: markers[ c ] === 2 }"
        v-on:click="switchMarker( c )">{{ c.toUpperCase() }}</div>
    </div>

    <div v-if="!solution">
      <input v-model="guess" type="text"></input>
      <button v-on:click="checkGuess">Tipp abgeben</button>
      <button v-on:click="giveUp">Auflösen</button>
    </div>

    <div v-if="solution">
      {{ solution }}
      <button v-on:click="newGame">Neues Spiel</button>
    </div>

    <div v-if="error">{{ error.reason }} ({{ error.text }})</div>

    <div v-for="entry in history" class="history">
      <div v-for="c in entry.text"
        v-bind:class="{ letter: true, wrong: markers[ c ] === 1, right: markers[ c ] === 2 }"
        v-on:click="switchMarker( c )">{{ c.toUpperCase() }}</div>
      <div class="letter score">{{ entry.score }}</div>
    </div>
  </div>
  <script src="app.js"></script>
</body>
</html>
